
.DS_Store
node_modules/
JS Front-End - 2023/T01_Resources/Tao of React.epub
JS Front-End - 2023/T01_Resources/Tao of React.pdf
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/01.Horse-Racing/01.Horse-Racing.js
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/02.Post-Task/app.js
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/02.Post-Task/css/styles.css
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/02.Post-Task/index.html
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/app.js
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/index.html
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/package-lock.json
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/package.json
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/server/data/tasks.json
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/server/server.js
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/style/css/style.css
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/style/img/completed-order.png
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/style/img/image-21.webp
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/style/img/slider_1.jpg
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/style/img/slider_2.jpg
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/tests-latest version of playwright-chromium/e2e.test.js
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation_Demo/03.Course-Planner/tests/e2e.test.js
JS Front-End - 2023/T12_HTTPandREST_Exercise/Exercise/.vscode/launch.json
JS Front-End - 2023/T02_CourseIntroduction/T02_CourseIntroduction.pdf
JS Front-End - 2023/T02_CourseIntroduction/Visual-Studio-Code-Installation-Guidelines.docx
JS Front-End - 2023/T03_JSSyntaxFundamentals/T03_JSSyntaxFundamentals.pdf
JS Front-End - 2023/T03_JSSyntaxFundamentals/T03_JSSyntaxFundamentals_Lab.pdf
JS Front-End - 2023/T04_JSSyntaxFundamentals_Exercise/Exercise/T04_JSSyntaxFundamentals_Exercise.pdf
JS Front-End - 2023/T04_JSSyntaxFundamentals_Exercise/Exercise_Море/T04_JSSyntaxFundamentals_Exercise_Море.pdf
JS Front-End - 2023/T05_FunctionsАndStatements/Т05_FunctionsАndStatements.pdf
JS Front-End - 2023/T05_FunctionsАndStatements/Т05_FunctionsАndStatements_Lab.pdf
JS Front-End - 2023/T06_FunctionsАndStatements_Exercise/Exercise/Т06_FunctionsАndStatements_Exercise.pdf
JS Front-End - 2023/T06_FunctionsАndStatements_Exercise/Exercise_Море/Т06_FunctionsАndStatements_Exercise_Море.pdf
JS Front-End - 2023/T07_ObjectsАndClasses/Т07_ObjectsАndClasses.pdf
JS Front-End - 2023/T07_ObjectsАndClasses/Т07_ObjectsАndClasses_Lab.pdf
JS Front-End - 2023/T08_ObjectsАndClasses_Exercise/Exercise/Т08_ObjectsАndClasses_Exercise.pdf
JS Front-End - 2023/T08_ObjectsАndClasses_Exercise/More/Т08_ObjectsАndClasses_Exercise_More.pdf
JS Front-End - 2023/T09_DOMАndEvents/Т09_DOMАndEvents.pdf
JS Front-End - 2023/T09_DOMАndEvents/Т09_DOMАndEvents_Lab.pdf
JS Front-End - 2023/T10_DOMАndEvents_Exercise/Exercise/Т10_DOMАndEvents_Exercise.pdf
JS Front-End - 2023/T10_DOMАndEvents_Exercise/More/Т10_DOMАndEvents_Exercise_More.pdf
JS Front-End - 2023/T11_HTTPandREST/T11_HTTPandREST.pdf
JS Front-End - 2023/T11_HTTPandREST/T11_HTTPandREST_Lab.pdf
JS Front-End - 2023/T12_HTTPandREST_Exercise/Exercise/T12_HTTPandREST_Exercise.pdf
JS Front-End - 2023/T12_HTTPandREST_Exercise/More/T12_HTTPandREST_Exercise_More.pdf
JS Front-End - 2023/T13_ExamPreparation/T13_ExamPreparation.pdf
JS Front-End - 2023/T14_ExamPreparation/T14_ExamPreparation.pdf
JS Front-End - 2023/T15_WorkingWithFront-endFramework_Workshop/P01_ReactShoppingCart_Workshop.pdf
JS Front-End - 2023/T15_WorkingWithFront-endFramework_Workshop/T15_IntroToReactJSComponents.pdf
JS Front-End - 2023/T16_RegularExam/P01_MotoGPRace/P01_MotoGPRace.docx
JS Front-End - 2023/T16_RegularExam/P02_Scholarship/P02_Scholarship.docx
JS Front-End - 2023/T16_RegularExam/P03_VacationSchedule/P03_VacationSchedule.docx
